<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyLingual</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
   <header>
     <div>
    <h1>MyLingual</h1>
    <p class="tagline">Learn a language together!</p>
    </div>
    <nav>
      {{#if loggedIn}}
      <a class="home" href="/">Homepage</a>
      <a class="home" href="/dashboard">Dashboard</a>
      <a class="home" href="/meetpeople">Meet People</a>
      <a class="home" href="/explore">Explore</a>
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
       <a class="home" href="/">Home</a>
      <a class="home" href="/dashboard">Dashboard</a>
      <a class="home" href="/login">Meet People</a>
      <a class="home" href="/explore">Explore</a>
      <a class="btn-no-style" href="/login">Login</a>
      {{/if}}
    </nav>
    </header>
     <main>
         {{{body}}}
     </main>
  </div>
   {{#if loggedIn}}
   <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>