    <div>
        <h1 class="text-center font-italic">Your Dashboard</h1>
          <p class="lead">Choose your avatar, language and level, and start sharing posts.</p>
    </div> 
 <br>
<div class="row justify-content-center">
    <div class="card" style="width: 45rem;">
        <h5 class="card-header">Avatar:</h5>
        <div class="card-body">
            
            <div class="row">
                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/guy1.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>

                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/lady1.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>
              
                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/lady3.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>

                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
              
                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/guy2.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>

                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/lady2.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>

                <div class="col-6 col-sm-4 input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                    </div>
                    </div>
                    <img src="./images/guy3.png" style="width: 25%;" class="rounded img-thumbnail" alt="...">
                </div>
        </div>
        

            <br> 
                
                <div class="form-group container">
                <div class="text-center">
                <button type="submit" class="row btn btn-primary btn-warning ">Choose</button>
                </div>
                </div>
        </div>
    </div>
</div>
            
<br>


<div class="row justify-content-center"> 
    <div class="card" style="width: 45rem;">
        <h5 class="card-header">Language:</h5>
        <div class="card-body">
       
            <form class="student-info-form">
                <div class="col-lg-7 form-field">
                    <label for="primary-language"><strong>Primary Language:</strong></label>
                    <div class="dropdown bg-light">
                        <select id="languageFilter" class="form-control">
                            <option selected="true" disabled="disabled">Choose your primary language</option>
                            <option class="dropdown-item" value="free">English</option> 
                            <option class="dropdown-item" value="basic">Spanish</option> 
                            <option class="dropdown-item" value="premium">Russian</option> 
                        </select>
                    </div>
                </div>

                 <div class= "col-lg-7 form-field">
                    <label for="learning-language"><strong>Learning Language:</strong></label>
                    <select id="languageFilter" class="form-control">
                        <option selected="true" disabled="disabled">Choose your primary language</option>
                        <option class="dropdown-item" value="free">English</option> 
                        <option class="dropdown-item" value="basic">Spanish</option> 
                        <option class="dropdown-item" value="premium">Russian</option> 
                    </select>
                </div>

                <div class= "col-lg-5 form-field">
                    <label for='levelFilter'><strong>Level:</strong> </label>
                    <select id='levelFilter' class='form-control'>
                    <option>Choose one.</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    </select>
                </div>
                <br> 
                    
                <div class="form-group container">
                    <div class="text-center">
                        <button type="submit" class="row btn btn-primary btn-warning ">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<br>   
      
<div class="row justify-content-center">
    <div class="card" style="width: 45rem;">
        <h5 class="card-header">Create New Post:</h5>
        <div class="card-body">
      
            <form class="new-post-form">
        
            <div class="form-group">
                <label for="post-title"><strong>Title:</strong></label>
                <input type="text" class="form-control" id="post-title" placeholder="Enter Title">
            </div>

            <div class="form-group">
                <label for="post-url"><strong>Link:</strong></label>
                <input name="post-url" class="form-control" id="post-url" placeholder="Enter URL">
            </div>

            <div class="form-group">
                <label for="post"><strong>Content:</strong></label>
                <textarea id="post" class="form-control" name="post" placeholder="Enter text here"></textarea>
            </div>

            {{!-- <div class='form-field'>
                <label for='categoryFilter'><strong>Category:</strong> </label>
                <select id='categoryFilter' class='form-control'>
                <option>Choose one.</option>
                <option value="Music">Music</option>
                <option value="Literature">Literature</option>
                <option value="Video">Video</option>
                </select>
            </div> --}}
            
            <br>

            <div class="form-group container">
                <div class="text-center">
                    <button type="submit" class="row btn btn-primary btn-warning ">Create Post</button>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>

<br>  
<div class="row justify-content-center">
    <div class="card" style="width: 45rem;">
        <h5 class="card-header">Previous Posts</h5>
        <div class="card-body">    
{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
     <h6><strong> <a href="/post/{{post_url}}" target="_blank">{{title}}</a> </strong></h6>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
       </div>
    </div>
</div>   

<br>  
<br> 

<script src="/javascript/add-post.js"></script>

