 <div>
  <h1>Explore</h1>
 </div> 
 
 <div class='form-field'>
    <label for='exploreFilter'>Search by Category:</label>
    <select id='exploreFilter' class='form-control'>
      <option>Choose one.</option>
      {{#each category_name}}
      <option value="{{this}}">{{this.category_name}}</option>
      {{/each}}
    </select>
  </div>