<div class="row justify-content-center">
      <div class="card" style="width: 45rem;">
            <h5 class="card-header">Explore</h5>
            <div class="card-body">
            
              <form class="explore-form">
                <div class='form-field'>
                  <label for='categoryFilter'><strong>Choose by category:</strong> </label>
                  <select id='categoryFilter' class='form-control'>
                    <option>Choose one.</option>
                    <option value="Music">Music</option>
                    <option value="Literature">Literature</option>
                    <option value="Video">Video</option>
                  </select>
                  <button type="submit" class="btn">Search</button>
                </div>
              </form>

            </div>
        </div>
</div>

