  <br>
  <div>
        <h1 class="text-center font-italic">Explore</h1>
          <p class="text-center lead">See posts and content in all languages.</p>
    </div> 
<br>
 <div class="row justify-content-center">
    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Start exploring additional languages!</h5>
        <div class="card-body">
        <ol class="post-list">
            {{#each posts as |post|}}
            {{#if (isCurrentLanguage ../languageid user.language_id)}}
            <li>
              {{> post-info post }}
            </li>
           {{/if}}
          {{/each}}
          </ol>

      </div>
    </div>
  </div>
