 <div>
  <h1>Explore</h1>
 </div> 

  {{!-- <form class="explore-form"></form>
    <div class='form-field'>
      <label for='categoryFilter'><strong>Choose by category:</strong> </label>
      <select id='categoryFilter' class='form-control'>
        <option>Choose one.</option>
        <option value="Music">Music</option>
        <option value="Literature">Literature</option>
        <option value="Video">Video</option>
      </select>
      <button type="submit" class="btn">Search</button>
      </div>
  </form>
    </div> --}} 