<form class="login-form">
  <div class="signs">
    <strong>LOGIN</strong>
  </div>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <strong>GET STARTED!</strong> 
  <p>Enter username, password, and choose a study language below. </p>
  <div class="signup">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password: <br>(Password must be at least 8 characters.)</label>
    <input type="password" id="password-signup" />
  </div>
  <div class='form-field'>
      <label for='languageFilter'>Language: </label>
      <select id='languageFilter' class='form-control'>
        <option>Choose one.</option>
        <option value="1">French</option>
        <option value="2">Lithuanian</option>
        <option value="3">Spanish</option>
        <option value="4">English</option>
        <option value="5">Russian</option>
      </select>
    </div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>