     <div>
        <h1 class="text-center font-italic">Let's learn together!</h1>
        <p class="text-center lead">MyLingual is a community for people learning the same language to meet and share resources. All levels welcome!</p>
      </div> 
    
    <br>

  <div class="row justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        
        <form class="signup-form">
          <h3 class="font-italic text-center">Don't have an account yet? Sign up now!</h3> 
          <p class="text-center">Fill out the form below to get started.<br> Already a member? <a href="#sign-in">Sign in!</a></p>

           
            <div class="form-group signup col-lg-6">
              <label for="username-signup">Username</label>
              <input type="text" class="form-control" id="username-signup" placeholder="Enter username">
            </div>

           

            <div class="form-group signup col-lg-6">
              <label for="password-signup">Password</label>
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <small class="form-text text-muted">Password must be at least 8 characters.</small>
            </div>

            {{!-- <br> --}}
            
                  <div class= "col-lg-10 form-field">
                    <label for="learning-language"><strong>Learning Language:</strong></label>
                    <select id="languageFilter" class="form-control">
                          <option selected="true" disabled="disabled">Choose your primary language</option>
                          <option value="1">French</option>
                          <option value="2">Lithuanian</option>
                          <option value="3">Spanish</option>
                          <option value="4">English</option>
                          <option value="5">Russian</option>
                    </select>
                  </div>

            
                <br>
               <div class= "col-lg-5 form-field">
                    <label for="learning-language"><strong>Primary Language:</strong></label>
                    <select id="languageFilter" class="form-control">
                        <option selected="true" disabled="disabled">Choose your primary language</option>
                        <option class="dropdown-item" value="free">English</option> 
                        <option class="dropdown-item" value="basic">Spanish</option> 
                        <option class="dropdown-item" value="premium">Russian</option> 
                    </select>
                  </div>
            <br> 
            <div class="form-group container">
            <div class="text-center">
              <button type="submit" class="row btn btn-primary btn-warning ">Sign Up</button>
            </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>

  <br>
  <br>  
  
  <div class="row justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-body">

        <form class="login-form">
          <h3 id="sign-in" class="font-italic text-center">Sign In</h3>

          <div class="row justify-content-center">

            <div class="form-group signs col-lg-6">
              <label for="username-login">Username</label>
              <input type="text" class="form-control" id="username-login" placeholder="Enter username">
            </div>

            <br>

            <div class="form-group col-lg-6">
              <label for="password-login">Password</label>
              <input type="password" class="form-control" id="password-login" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary btn-warning">Sign In</button>

          </div>
          
        </form>
        
      </div>
    </div>
  </div>

    

    <br>
    <br>
    

<script src="/javascript/login.js"></script>

