
  <div class="row justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-body">

        <form class="login-form">
          <h1 class="font-italic text-center">Sign In</h1>

          <div class="row justify-content-center">

            <div class="form-group signs col-lg-6">
              <label for="username-login">Username</label>
              <input type="text" class="form-control" id="username-login" placeholder="Enter username">
            </div>

            <br>

            <div class="form-group col-lg-6">
              <label for="password-login">Password</label>
              <input type="password" class="form-control" id="password-login" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary btn-warning">Submit</button>

          </div>
          
        </form>
        
      </div>
    </div>
  </div>

    

    <br>
    <br>
    
  <div class="row justify-content-center">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        
        <form class="signup-form">
          <h1 class="font-italic text-center">Don't have an account yet? Sign up now!</h1> 
          <p class="text-center">Fill out the form below to get started.</p>
          
           
            <div class="form-group signup col-lg-6">
              <label for="username-signup">Username</label>
              <input type="text" class="form-control" id="username-signup" placeholder="Enter username">
            </div>

            <br>

            <div class="form-group signup col-lg-6">
              <label for="password-signup">Password</label>
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <small class="form-text text-muted">Password must be at least 8 characters.</small>
            </div>

            <br>

            <div class="col-lg-5">
                <label for='languageFilter'>Language</label>
            
                  <div class="dropdown bg-light">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Choose a language you'd like to learn...
                    </button>
                    <div class="dropdown-menu" id="languageFilter" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">English</button>
                      <button class="dropdown-item" type="button">Spanish</button>
                      <button class="dropdown-item" type="button">Russian</button>
                    </div>
                  </div>
            </div>

            <br> 
            <div class="form-group container">
            <div class="text-center">
              <button type="submit" class="row btn btn-primary btn-warning ">Sign Up</button>
            </div>
            </div>

          </div>

          

        </form>

      </div>
    </div>
  </div>

  <br>
  <br>

<script src="/javascript/login.js"></script>

