<div>
  <h1>Meet People</h1>
</div> 

<article class="people">
   <div class="photo">
    <span> photo placeholder</span>
  </div>
  <div class="name">
    <span>{{user.username}}</span>
  </div>
  <div class="meta">
     Primary Language: 
    ||
    Learning Level: {{language.level}}
  </div>
</article>