<form class="signup-form">
  <strong>GET STARTED!</strong> 
  <p>Enter username, password, and choose a study language below. </p>
  <div class="signup">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
   <div class='form-field'>
    <label for='sizeFilter'>Language:</label>
    <select id='sizeFilter' class='form-control'>
      <option>Choose one.</option>
      {{#each language_name}}
      <option value="{{this}}">{{this.language_name}}</option>
      {{/each}}
    </select>
  </div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/javascript/sign-up.js"></script>