<a href="/">&larr; Back to Homepage</a>

{{> post-info post }}

{{#if loggedIn}}
 <div class="row justify-content-center">
      <div class="card" style="width: 45rem;">
            <h5 class="card-header">Create New Post</h5>
            <div class="card-body">
              <form class="comment-form">
                
                <div class="form-group">
                    <label for="comment-body"><strong>Comment:</strong></label>
                    <textarea class="form-control" name="comment-body" id="comment-body" rows="3"></textarea>
                </div>
            
                <div>
                  <button class="btn btn-secondary" type="submit">Add Comment</button>
                </div>

              </form>
            </div>
      </div>
  </div>
 
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}


{{> comments post.comments}}