<a href="/dashboard">&larr; Back to Homepage</a>

{{> post-info post }}

{{#if loggedIn}}
<form class="comment-form">
  <strong>Comment:</strong>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}


{{> comments post.comments}}