* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

  .navbar-brand {
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
    color:  #0d448c;
  }
  
  a:hover {
    color: #3486eb;
    text-decoration: none;
  }


  #logout, .login {
    font-size: 85%;
    color:  #0d448c;
    font-weight: bold;
  }

  #logout:hover {
    color: #3486eb;
  }


  .post-list, .user-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

 

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  

  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .posttext {
    font-size: 11pt;
    background-color: #f5f5f4;
    padding: 8px;
    font-weight: normal;
    overflow: visible;
  }
  
  .lead {
    align-content: center;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.70rem;
  }

  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }

  .delete-post-btn {
    background-color:  #0d448c;
    outline: none;
  }

  .delete-post-btn:focus {
    outline: none;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    font-size: 75%;
    color: black;
    font-weight: bold;
  }

  .meta {
    background-color:rgb(210, 205, 205);
    padding-bottom: 3px;
    padding-top:1px;
    font-size: 85%;
    color: black;
    padding-left: 8px;
  }
  
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    font-size: 85%;
  }
  
  .comment:nth-child(odd) {
    background-color: #f5f5f4;
  }

  
  .comment .meta {
    font-size: 85%;
    margin-bottom: .5%;
    color: black;
  }

  .meet-user:nth-child(odd) {
    background-color: rgb(210, 205, 205);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .meet-user {
    margin-bottom: 2%;
    align-content: center;
  }
  
  body {
    padding-top: 56px;
  }

  .avatar-title {
    margin-left: 2%;
  }

  .avatars {
    margin-left: 1%;
  }

  footer {
    background: #f5f5f4;
    width: 100%;
    padding: 40px 35px;
    align-content: center;
  }

  .company {
    text-shadow: 1px 1px rgb(210, 205, 205);
    font-style: italic;
    font-weight: bold;
  }

   /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
   @media screen and (max-width: 768px) {
    .lead {
      font-size: 99%;
    }
  }


   /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .navbar-brand, #logout, .login {
    font-size: 75%;
  }

  .lead {
    font-size: 90%;
  }
}

   /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
   @media screen and (max-width: 375px) {
    .navbar-brand, #logout, .login {
      font-size: 60%;
    }

    .lead {
      font-size: 95%;
    }
  }


  



  

  